[flake8]
ignore =
    E114
    E111
    F811
per-file-ignores =
    acoustics/operators.py:F811
exclude =
    .git,
    .pytest_cache,
    .requirements,
    .venv,
    .vscode,
    node_modules,
    jwave.egg-info,
    __pycache__,
    build,
    docs,
    htmlcov,
    profiling,
    scripts,
    templates
max-line-length = 127
max-complexity=10
count = true
statistics = true
