[tool.pycln]
all = true

[tool.mypy]
ignore_missing_imports = true
exclude = ['jaxdf/acoustics/operators.py']

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
