coverage==6.4.3
flake8==5.0.4
mypy==0.971
pytest==7.1.2
matplotlib==3.5.3
pre-commit==2.20.0
pycln==2.1.1
isort==5.10.1
gitchangelog==3.0.4
mako==1.2.1
jaxdf @ git+https://github.com/ucl-bug/jaxdf.git#egg=jaxdf=
pystache==0.6.0
