coverage
flake8
gitchangelog
griffe
isort
jaxdf @ git+https://github.com/ucl-bug/jaxdf.git#egg=jaxdf=
jupytext
mako
markdown-katex
matplotlib
mkdocs-jupyter
mkdocs-macros-plugin
mkdocs-material
mkdocs-mermaid2-plugin
mkdocstrings
mkdocstrings-python
mypy
pre-commit
pycln
pytest
pystache
