coverage==6.4.2
flake8==4.0.1
gitchangelog==3.0.4
griffe==0.22.0
isort==5.10.1
jaxdf @ git+https://github.com/ucl-bug/jaxdf.git#egg=jaxdf=
jupytext==1.14.0
mako==1.2.1
markdown-katex==202112.1034
matplotlib==3.5.2
mkdocs-jupyter==0.21.0
mkdocs-macros-plugin==0.7.0
mkdocs-material==8.3.9
mkdocs-mermaid2-plugin==0.6.0
mkdocstrings==0.19.0
mkdocstrings-python==0.7.1
mypy==0.971
pre-commit==2.20.0
pycln==2.1.1
pytest==7.1.2
pystache==0.6.0
