# This is a basic workflow to help you get started with Actions

name: Continous Integration

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  tests_linux:
    strategy:
      matrix:
        python-version: [3.9]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Making virtual environment, linting
        run: |
          make testenv
          source .venv/bin/activate
          isort jwave/
          flake8 jwave/ --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 jwave/ --count --ignore=E111 --exit-zero --max-complexity=10 --max-line-length=127 --statistics
          mypy --allow-redefinition --config-file=pyproject.toml jwave/*.py
      - name: Running tests
        run: |
          coverage run --source=jwave -m pytest
          coverage xml
	        coverage html
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          name: codecov-umbrella

    # TODO: Add tests for Windows and macOS
